.white {
  background: #ffffff;
}

.light-gray {
  background: #f3f3f3;
}

.white-txt {
  color: $light-text-color;
}

.dark-txt {
  color: $text-color;
}

.title {
  color: $text-color;
}

.subtitle {
  color: $second-text-color;
}
