$primary-color: #d0a144;
$secondary-color-2: #784f33;
$secondary-color-4: #295c7a;
$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #ffffff;
$dark-background-color: #252b42;
$light-background-color: #ffffff;
$disabled-element-color: #8ec2f2;
$gradient-background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
$martel-font: 'Martel', serif;
$open-sans-font: 'Open Sans', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;
$fnt-sm: 14px;
$fnt-md: 16px;
$fnt-lg: 40px;
